/* <!-- question 1: Flexbox--> */
/* Flexbox container */
.container{
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

/* Styling for boxes */
.box{
    width: 100px;
    height: 80px;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.2s;
}
/* change the order of middle box */
.middle{
    order: -1;
    background: orange;
}

/* <!-- question 3: Hover Effect--> */
.box:hover{
    background: rgb(red, green, blue); /* background color change */
    transform: translateY(-5px); /* slide up 5px */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* bigger shadow */
    cursor: pointer;
}